In [2]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Activity #1: Explore Datasets - Preliminary

### Questions:
* What is the dataset about?
* How many variables are there?
* How many observations are there?

In [3]:
table_tennis <- read.csv("player_stats.csv")
table_tennis

    X   Age             Country        Plays        Wikipedia Current.Rank
1   0   26 (25-04-1993) Brazil         Right-handed Wikipedia 378 (97)
2   1   18 (22-12-2001) United Kingdom Left-handed  Wikipedia 326 (119)
3   2   32 (03-11-1987) Slovakia       Right-handed Wikipedia 178 (280)
⋮   ⋮   ⋮               ⋮              ⋮            ⋮         ⋮
498 497 23 (14-03-1996) Netherlands    Left-handed  Wikipedia 495 (60)
499 498 24 (17-05-1995) Ukraine                     Wikipedia 419 (81)
500 499 22 (26-03-1997) Tunisia        Left-handed  Wikipedia 451 (69)
    Best.Rank        Name                 Backhand   Prize.Money  ⋯ Facebook
1   363 (04-11-2019) Oscar Jose Gutierrez                         ⋯
2   316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯
3   44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯
⋮   ⋮                ⋮                    ⋮          ⋮            ⋱ ⋮
498 342 (05-08-2019) Gijs Brouwer                                 ⋯
499 419 (20-01-2020) Vladyslav Orlov                              ⋯
500 408 (24-12-2018) Aziz Dougaz          Two-handed $61,984      ⋯
    Twitter Nicknames Grand.Slams Davis.Cups Web.Site Team.Cups Olympics
1                     NA          NA                  NA        NA
2                     NA          NA                  NA        NA
3                     NA          NA                  NA        NA
⋮   ⋮       ⋮         ⋮           ⋮          ⋮        ⋮         ⋮
498                   NA          NA                  NA        NA
499                   NA          NA                  NA        NA
500                   NA          NA                  NA        NA
    Weeks.at.No..1 Tour.Finals
1   NA             NA
2   NA             NA
3   NA             NA
⋮   ⋮              ⋮
498 NA             NA
499 NA             NA
500 NA             NA

### Answer:
The dataset has the player statistics, including their total winnings, current & best rank, and age. There are 37 variables and, 500 observations seen in the dataset.

# Activity #2: Explore Datasets Part 2 - Outcome Variable

### Questions:
* Identify the main outcome/categorical/label variable in the dataset.
* How many values/groups are in this variable?
* How many observations are there in each value/group?

In [8]:
table_tennis_plays <- table_tennis %>% select(X,Name, Plays)
table_tennis_plays

    X   Name                 Plays
1   0   Oscar Jose Gutierrez Right-handed
2   1   Jack Draper          Left-handed
3   2   Lukas Lacko          Right-handed
⋮   ⋮   ⋮                    ⋮
498 497 Gijs Brouwer         Left-handed
499 498 Vladyslav Orlov
500 499 Aziz Dougaz          Left-handed

### Answers:
* The main outcome/categorical/label variable would be "Plays".
* There are two groups in this variable, "Right-handed", and "Left-handed".
* There are 500 observations per group.

# Activity #3: Explore Datasets Part 3 - Visualisations!

In [54]:
library(stringr)

# table_tennis <- str_replace_all(string = table_tennis, pattern = "US$", replacement = "")
# ts <- select(table_tennis,Prize.Money)

# ts

ts <- as.numeric(gsub(",","",table_tennis))
ts <- as.numeric(gsub("$US","",table_tennis))

ts

 [1] 0.000000e+00 2.600000e+01           NA           NA           NA
 [6] 3.780000e+02 3.630000e+02           NA           NA 5.904000e+04
[11] 1.850000e+02 4.000000e+01 2.005000e+03 1.400000e+01           NA
[16] 1.440000e+02 6.000000e+01 1.886000e+03 1.800000e+01 4.000000e+00
[21] 2.640000e+02 2.015000e+03 2.017000e+03 2.000000e+00           NA
[26]           NA 9.700000e+01           NA 1.280493e+14 7.000000e+00
[31]           NA 1.000000e+00 1.000000e+00           NA 1.000000e+00
[36] 1.000000e+00 2.080000e+02 1.000000e+00

In [55]:
table_tennis <- separate(table_tennis,
  col = Prize.Money,
  into = c("waste", "Money"),
  sep = "$")

table_tennis

ERROR: Error in UseMethod("separate_"): no applicable method for 'separate_' applied to an object of class "c('double', 'numeric')"

In [56]:
plays <- table_tennis %>%
group_by(Plays) %>%
summarize(n=n())
plays

ERROR: Error in UseMethod("group_by_"): no applicable method for 'group_by_' applied to an object of class "c('double', 'numeric')"

In [51]:
Play_P <-  plays %>%
ggplot(aes(x= Plays,y=n)) +
geom_bar(stat="identity", fill="steelblue")+
xlab("Plays")+
ylab("Count")+
ggtitle("Plays in top 500 tennis player")+
theme(text = element_text(size=20))
Play_P

ERROR: Error in eval(lhs, parent, parent): object 'plays' not found

In [52]:
BestRan_Price <- table_tennis %>%
    ggplot(aes(x=Best.Rank, y=Prize.Money))+
    geom_point(aes(colour = Plays)) +
    xlab("The Best Rank")+
    ylab("The Prize Money")+
    labs(colour = "Plays", title="Best Rank vs Prize Money")+
    theme(text = element_text(size = 20))

BestRan_Price

ERROR: Error: `data` must be a data frame, or other object coercible by `fortify()`, not a character vector